SERVER_PORT=${SERVER_PORT}

#db
POSTGRES_DB_URL=${POSTGRES_DB_URL}
POSTGRES_DB_USERNAME=${POSTGRES_DB_USERNAME}
POSTGRES_DB_PASSWORD=${POSTGRES_DB_PASSWORD}

#openapi
OPENAPI_DEV_URL=${OPENAPI_DEV_URL}

#Redis
SPRING_REDIS_HOST=${SPRING_REDIS_HOST}
SPRING_REDIS_PORT=${SPRING_REDIS_PORT}